body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #ff3149;
}

h3 {
    color: #ff914d;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.badge {
    font-size: 14px;
    padding: 5px 10px;
}

.btn-close {
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
}
